:root{
    /* creo variables pra los colores */
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --dark-blue-transparency: hsl(212, 14%, 21%);
    --very-dark-blue: hsl(216, 12%, 8%);

    /* creo variables para los tamaños de letra */
    --estandar: 15px;
    --title: 20px;
    --md: 12px;
}

body {
    font-family: 'Overpass', sans-serif;
    background: var(--very-dark-blue);
}    

/* CONTENEDOR PRINCIPAL */
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark-blue);
    height: 300px;
    width: 300px;
    border-radius: 20px;
    margin: 200px auto 32px auto;
}

.icon-container{
    margin: 28px auto 0 20px;
    background-color: var(--dark-blue-transparency);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
}

.icon-container img{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-size: 50%;
}

/* TEXTOS */
.question{
    font-size: var(--title);
    margin: 20px auto 8px 20px;
    font-weight: bold;
    color: var(--white);
}

.comment{
    font-size: var(--md);
    margin: 4px 8px 20px 20px;
    color: var(--light-grey);
}

/* BOTONES DE NUMEROS */
.rate-container{
    display: grid;
    grid-template-columns: 54px 54px 54px 54px 54px;
    justify-items: center;
    margin: 0 0 22px 0;
}
.rate-button{
    font-size: var(--md);
    background-color: var(--dark-blue-transparency);
    border: none;
    border-radius: 100%;
    height: 38px;
    width: 38px;
    color: var(--medium-grey);
    font-weight: bold;
    cursor: pointer;
}

.rate-button:hover{
    background-color: var(--orange);
    color: var(--white);
}

.rate-button:focus{
    /* Focus se usa para que al darle click al boton se quede con el otro estilo */
    background-color: var(--light-grey);
    color: var(--white);
}

.submit{
    background-color: var(--orange);
    border-radius: 20px;
    height: 36px;
    width: 85%;
    border: none;
    margin: 0 auto;
    color: var(--white);
    font-size: 10px ;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.submit:hover{
    background-color: var(--white);
    color: var(--orange);
}

/* LINKS */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: var(--light-grey);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}